@model ApplicationCore.Models.MovieDetailsModel
@using System.Globalization

@*testest*@


    <style>
        
        .posterStyle {
            height: 21.8rem;
            width: 100%;
            background-size: cover;
            background-color: #003366;
            background-blend-mode: overlay;
        }
       
        
        .gridStyle {
            background-color: transparent;
            border: 1px solid;
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }
       
                
    </style>

<div class="posterStyle" style="background-image: url(@Model.BackdropUrl)">

    <div class="row">
        <div class="col-md-3 offset-2">

            <div>
                <img src="@Model.PosterUrl" alt="Forest" width="250" height="350" />
            </div>

        </div>
        <div class="col-md-4">
            <div class="row mt-2">
                <div class="col-12">
                    <h1 class="text-white">
                        @Model.Title
                    </h1>
                    <small class="text-white"> @Model.Tagline </small>
                </div>

            </div>

            <div class="row">
                <div class="col-4 text-white font-weight-bold mt-2">
                    @Model.RunTime m | @Model.ReleaseDate.Value.Date.Year
                </div>
                <div class="col-8">

                    @foreach (var genre in Model.Genres)
                    {
                    <a class="badge badge-pill badge-dark ml-1" asp-action="Genre" asp-route-id="@genre.Id">
                        @genre.Name
                    </a>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-4 text-white  mt-3">
                    <h4>
                        <span class="badge badge-warning">
                            @Model.Rating?.ToString("0.00")
                        </span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-white mt-2">
                    @Model.Overview
                </div>
            </div>
        </div>

        <div class="col-md-2 mt-4 offset-1">
            <ul class="list-group">
                
                <li class="gridStyle">
                    <button type="button" class="btn btn-outline-light btn-lg btn-block btn-sm">
                        <i class="far fa-edit mr-1"></i>
                        REVIEW
                    </button>
                </li>
                

                <li class="gridStyle">
                    <a button type="button" class="btn btn-light btn-lg btn-block btn-sm" >
                        BUY $@Model.Price
                        </button>
                    </a>

                    
                </li>
            </ul>
        </div>

    </div>
</div>


<div class="row mt-4" >
    <div class="col-4 " style=" background-color: gray ">
        <h5>MOVIE FACTS</h5>
        <hr>
        <ul class="list-group list-group-flush">
            <li class="gridStyle">
                <i class="far fa-calendar-alt mr-2"></i>Release Date
                <span class="badge badge-pill badge-dark">@Model.ReleaseDate.Value.ToShortDateString()</span>
            </li>

            <li class="gridStyle">
                <i class="fas fa-hourglass-half mr-2"></i>Run Time
                <span class="badge badge-pill badge-dark">@Model.RunTime.Value m</span>
            </li>
            <li class="gridStyle">
                <i class="far fa-money-bill-alt"></i> Box Office
                <span class="badge badge-pill badge-pill badge-dark">
                    @NumberFormatInfo.CurrentInfo.CurrencySymbol
                    @Model.Revenue?.ToString("C0")
                </span>
            </li>

            <li class="gridStyle">
                <i class="fas fa-dollar-sign mr-2"></i> Budget
                <span class="badge badge-pill badge-dark">
                    @NumberFormatInfo.CurrentInfo.CurrencySymbol
                    @Model.Budget?.ToString("C0")
                </span>
            </li>
            <hr />
            <h5>Trailers</h5>
              <li class="gridStyle">
                    <i class="fab fa-youtube mr-2"></i> 
                    <button type="button" class="btn btn-outline-light btn-lg btn-block btn-sm">
                        <h6 class="text-white">
                        @Model.Title
                        </h6>
                    </button>
                </li>

        </ul>
    </div>

    <div class="col-4 offset-1 " style=" background-color: gray ">
        <h5>CAST</h5>
         <ul class="list-group list-group-flush">
                @foreach (var cast in Model.Casts)
                        {
                      
                            <a asp-controller="cast" asp-action="details" asp-route-id="@cast.Id" class="text-decoration-none text-dark">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="@cast.ProfilePath" class="rounded-circle" alt="@cast.Name" width="35" height="35" />

                                    </div>
                                    <div class="col-4">
                                        <h6>@cast.Name</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6>@cast.Character</h6>
                                    </div>
                                </div>
                            </a>
                        }
            </ul>
    </div>
</div>
